## Lazy Power Series Package
### Padics implementation

In [117]:
loadPackage "LazyPowerSeries"

o117 = LazyPowerSeries

o117 : Package

In [118]:
R = ZZ[x,y]

o118 = R

o118 : PolynomialRing

In [119]:
M = padics(11,156*x+y^4, DisplayedDegree => 6)

o119 = 2*x + 3*11x + 1*11^2x + 1*y^4 + ...

o119 : Padics

In [120]:
L = padics(11, 45*y^4+9*x)

o120 =  - 2*x + 1*11x + 1*y^4 + 4*11y^4 + ...

o120 : Padics

In [121]:
K = M+L

5
 4
y  + 156x
 4
y  + 9x

o121 = 4*11x + 1*11^2x + 2*y^4 + ...

o121 : Padics

In [98]:
K.cache.valueList

o98 = HashTable{1 => 0  }
                11x => 4
                11y => 0
                11 => 0
                121 => 0
                x*y => 0
                x => -5
                 2
                x  => 0
                y => 0
                 2
                y  => 0

o98 : HashTable

In [65]:
toAdics(11,M.cache.displayedPolynomial)

o65 = HashTable{1 => 0  }
                11x => 3
                11y => 0
                11 => 0
                121 => 0
                x*y => 0
                x => 2
                 2
                x  => 0
                y => 0
                 2
                y  => 0

o65 : HashTable

In [66]:
M.cache.computedPolynomial

       4
o66 = y  + 156x

o66 : R

In [67]:
net(M)

o67 = 2*x + 3*11x + 1*11^2x + 1*y^4 + ...

In [68]:
toString(M)

o68 = 2*x + 3*11x + 1*11^2x + 1*y^4 + ...

In [69]:
toString(M)

o69 = 2*x + 3*11x + 1*11^2x + 1*y^4 + ...

In [70]:
padics(2,sub(7,R))

o70 = 1 + 1*2 + 1*2^2 + ...

o70 : Padics

In [72]:
g = (i,x,y)-> i+x+y;
net(M = padics(R,7, g))

o72 = 1*7 + 2*7^2 + 3*7^3 + 1*y + 2*7y + 3*7^2y + 1*x + 2*7x + 3*7^2x + 2*y^2 +
      --------------------------------------------------------------------------
      3*7y^2 + 2*x*y + 3*7x*y + 2*x^2 + 3*7x^2 + 3*y^3 + 3*x*y^2 + 3*x^2*y +
      --------------------------------------------------------------------------
      3*x^3 + ...

In [73]:
coefficient((1,0,2),M)

o73 = 3

o73 : QQ

In [75]:
f = (i,x,y)-> i*x*y+3;
net(L = padics(R,7, g))

o75 = 1*7 + 2*7^2 + 3*7^3 + 1*y + 2*7y + 3*7^2y + 1*x + 2*7x + 3*7^2x + 2*y^2 +
      --------------------------------------------------------------------------
      3*7y^2 + 2*x*y + 3*7x*y + 2*x^2 + 3*7x^2 + 3*y^3 + 3*x*y^2 + 3*x^2*y +
      --------------------------------------------------------------------------
      3*x^3 + ...

In [77]:
newP = M+L

In [14]:
net newP

                                                   2              2      3
o14 =  + 2*7 + 2*x + 2*y + 4*49 + 4*7x + 4*7y + 4*x  + 4*x*y + 4*y  + 6*x  +
      --------------------------------------------------------------------------
         2         2      3                                   2
      6*x y + 6*x*y  + 6*y  + 2*2401 + 2*343x + 2*343y + 2*49x  + 2*49x*y +
      --------------------------------------------------------------------------
           2       3       2          2       3      4      3       2 2        3
      2*49y  + 2*7x  + 2*7x y + 2*7x*y  + 2*7y  + 1*x  + 1*x y + 1*x y  + 1*x*y
      --------------------------------------------------------------------------
           4                                       2                    2
      + 1*y  + 4*16807 + 4*2401x + 4*2401y + 4*343x  + 4*343x*y + 4*343y  +
      --------------------------------------------------------------------------
           3        2           2        3       4       3        2 2         3
      4*49x  + 4*49x y + 4*49x*y  + 4*49y  + 4*7x  + 4*7x y + 4*7x y  + 4*7x*y
      --------------------------------------------------------------------------
            4      5      4       3 2      2 3        4      5
      + 4*7y  + 3*x  + 3*x y + 3*x y  + 3*x y  + 3*x*y  + 3*y  + 2*117649 +
      --------------------------------------------------------------------------
                                   2                      2         3         2
      2*16807x + 2*16807y + 2*2401x  + 2*2401x*y + 2*2401y  + 2*343x  + 2*343x y
      --------------------------------------------------------------------------
                2         3        4        3         2 2          3        4
      + 2*343x*y  + 2*343y  + 2*49x  + 2*49x y + 2*49x y  + 2*49x*y  + 2*49y  +
      --------------------------------------------------------------------------
          5       4        3 2       2 3         4       5
      1*7x  + 1*7x y + 1*7x y  + 1*7x y  + 1*7x*y  + 1*7y  + ...

In [15]:
peek M.cache.valueList

o15 = {Option{1, 0}, Option{7, 1}, Option{x, 1}, Option{y, 1}, Option{49, 2},
      --------------------------------------------------------------------------
                                            2                              2
      Option{7x, 2}, Option{7y, 2}, Option{x , 2}, Option{x*y, 2}, Option{y ,
      --------------------------------------------------------------------------
                                                                   2
      2}, Option{343, 3}, Option{49x, 3}, Option{49y, 3}, Option{7x , 3},
      --------------------------------------------------------------------------
                                2              3              2
      Option{7x*y, 3}, Option{7y , 3}, Option{x , 3}, Option{x y, 3},
      --------------------------------------------------------------------------
                2              3
      Option{x*y , 3}, Option{y , 3}, Option{2401, 4}, Option{343x, 4},
      --------------------------------------------------------------------------
                                 2                                  2
      Option{343y, 4}, Option{49x , 4}, Option{49x*y, 4}, Option{49y , 4},
      --------------------------------------------------------------------------
               3               2                  2               3
      Option{7x , 4}, Option{7x y, 4}, Option{7x*y , 4}, Option{7y , 4},
      --------------------------------------------------------------------------
              4              3               2 2                3
      Option{x , 4}, Option{x y, 4}, Option{x y , 4}, Option{x*y , 4},
      --------------------------------------------------------------------------
              4
      Option{y , 4}, Option{16807, 6}, Option{2401x, 6}, Option{2401y, 6},
      --------------------------------------------------------------------------
                 2                                    2                3
      Option{343x , 6}, Option{343x*y, 6}, Option{343y , 6}, Option{49x , 6},
      --------------------------------------------------------------------------
                2                   2                3               4
      Option{49x y, 6}, Option{49x*y , 6}, Option{49y , 6}, Option{7x , 6},
      --------------------------------------------------------------------------
               3                2 2                 3               4
      Option{7x y, 6}, Option{7x y , 6}, Option{7x*y , 6}, Option{7y , 6},
      --------------------------------------------------------------------------
              5              4               3 2              2 3
      Option{x , 5}, Option{x y, 5}, Option{x y , 5}, Option{x y , 5},
      --------------------------------------------------------------------------
                4              5
      Option{x*y , 5}, Option{y , 5}}

In [20]:
debugLevel = 0

o20 = 0

In [21]:
f = 56*x + 43*x^4*y + 42

         4
o21 = 43x y + 56x + 42

o21 : R

In [22]:
toAdics(7, f)

                                                                   2
o22 = {1 => 0, 7 => 6, x => 0, y => 0, 49 => 1, 7x => 1, 7y => 0, x  => 0, x*y
      --------------------------------------------------------------------------
             2                                       2                    2
      => 0, y  => 0, 343 => 0, 49x => 1, 49y => 0, 7x  => 0, 7x*y => 0, 7y  =>
      --------------------------------------------------------------------------
          3        2           2        3
      0, x  => 0, x y => 0, x*y  => 0, y  => 0, 2401 => 0, 343x => 0, 343y => 0,
      --------------------------------------------------------------------------
         2                      2         3         2            2         3
      49x  => 0, 49x*y => 0, 49y  => 0, 7x  => 0, 7x y => 0, 7x*y  => 0, 7y  =>
      --------------------------------------------------------------------------
          4        3         2 2          3        4
      0, x  => 0, x y => 0, x y  => 0, x*y  => 0, y  => 0, 16807 => 0, 2401x =>
      --------------------------------------------------------------------------
                         2                        2          3          2
      0, 2401y => 0, 343x  => 0, 343x*y => 0, 343y  => 0, 49x  => 0, 49x y => 0,
      --------------------------------------------------------------------------
           2          3         4         3          2 2           3         4
      49x*y  => 0, 49y  => 0, 7x  => 0, 7x y => 0, 7x y  => 0, 7x*y  => 0, 7y
      --------------------------------------------------------------------------
             5        4         3 2        2 3          4        5
      => 0, x  => 0, x y => 1, x y  => 0, x y  => 0, x*y  => 0, y  => 0, 117649
      --------------------------------------------------------------------------
                                           2                          2
      => 0, 16807x => 0, 16807y => 0, 2401x  => 0, 2401x*y => 0, 2401y  => 0,
      --------------------------------------------------------------------------
          3           2              2           3          4          3
      343x  => 0, 343x y => 0, 343x*y  => 0, 343y  => 0, 49x  => 0, 49x y => 0,
      --------------------------------------------------------------------------
         2 2            3          4         5         4          3 2
      49x y  => 0, 49x*y  => 0, 49y  => 0, 7x  => 0, 7x y => 6, 7x y  => 0,
      --------------------------------------------------------------------------
        2 3           4         5        6        5         4 2        3 3
      7x y  => 0, 7x*y  => 0, 7y  => 0, x  => 0, x y => 0, x y  => 0, x y  => 0,
      --------------------------------------------------------------------------
       2 4          5        6
      x y  => 0, x*y  => 0, y  => 0}

o22 : List

In [1]:
describe ZZ

o1 = ZZ

In [7]:
n = 2 + 4*5+ 3*5^2 + 2*5^3

o7 = 347

In [8]:
n % ideal(5)

o8 = 2

In [9]:
n % ideal(5^2)

o9 = -3

In [14]:
22 % 25

o14 = 22

In [10]:
n % ideal(5^3)

o10 = -28

In [21]:
R

o21 = R

o21 : PolynomialRing

In [22]:
vars R

o22 = | x y |

              1       2
o22 : Matrix R  <--- R

In [23]:
gens R

o23 = {x, y}

o23 : List

In [24]:
ideal(5, gens R)

stdio:71:1:(3): error: expected a list of numbers, matrices, ring elements or ideals

In [39]:
gens ZZ

o39 = {}

o39 : List