## Lazy Power Series Package
### Padics implementation

In [47]:
loadPackage "LazyPowerSeries"

o47 = LazyPowerSeries

o47 : Package

In [48]:
R = ZZ[x,y]

o48 = R

o48 : PolynomialRing

In [49]:
M = padics(11,sub(156*x+y^4,R))

                             4
o49 = 3*11*x + 1*11^2*x + 1*y  + 2*x + ...

o49 : Padics

In [50]:
net(M)

                             4
o50 = 3*11*x + 1*11^2*x + 1*y  + 2*x + ...

In [51]:
toString(M)

o51 =                        4
      3*11*x + 1*11^2*x + 1*y  + 2*x + ...

In [30]:
toString(M)

o30 =    4
      1*y  + 2*x + 3*11*x + 1*11^2*x + ...

In [4]:
padics(2,sub(7,R))

o4 = 1*1 + 1*2 + 1*4 + ...

o4 : Padics

In [6]:
g = (i,x,y)-> i+x+y;
net(M = padics(R,7, g))

                                                  2              2
o6 =  + 1*7 + 1*x + 1*y + 2*49 + 2*7x + 2*7y + 2*x  + 2*x*y + 2*y  + 3*343 +
     ---------------------------------------------------------------------------
                         2                2      3      2         2      3
     3*49x + 3*49y + 3*7x  + 3*7x*y + 3*7y  + 3*x  + 3*x y + 3*x*y  + 3*y  +
     ---------------------------------------------------------------------------
                                     2                  2       3       2
     4*2401 + 4*343x + 4*343y + 4*49x  + 4*49x*y + 4*49y  + 4*7x  + 4*7x y +
     ---------------------------------------------------------------------------
           2       3      4      3       2 2        3      4
     4*7x*y  + 4*7y  + 4*x  + 4*x y + 4*x y  + 4*x*y  + 4*y  + 6*16807 + 6*2401x
     ---------------------------------------------------------------------------
                       2                    2        3        2           2
     + 6*2401y + 6*343x  + 6*343x*y + 6*343y  + 6*49x  + 6*49x y + 6*49x*y  +
     ---------------------------------------------------------------------------
          3       4       3        2 2         3       4      5      4       3 2
     6*49y  + 6*7x  + 6*7x y + 6*7x y  + 6*7x*y  + 6*7y  + 5*x  + 5*x y + 5*x y
     ---------------------------------------------------------------------------
          2 3        4      5
     + 5*x y  + 5*x*y  + 5*y  + ...

In [7]:
coefficient((1,0,2),M)

o7 = 3

In [9]:
f = (i,x,y)-> i*x*y+3;
net(L = padics(R,7, g))

                                                  2              2
o9 =  + 1*7 + 1*x + 1*y + 2*49 + 2*7x + 2*7y + 2*x  + 2*x*y + 2*y  + 3*343 +
     ---------------------------------------------------------------------------
                         2                2      3      2         2      3
     3*49x + 3*49y + 3*7x  + 3*7x*y + 3*7y  + 3*x  + 3*x y + 3*x*y  + 3*y  +
     ---------------------------------------------------------------------------
                                     2                  2       3       2
     4*2401 + 4*343x + 4*343y + 4*49x  + 4*49x*y + 4*49y  + 4*7x  + 4*7x y +
     ---------------------------------------------------------------------------
           2       3      4      3       2 2        3      4
     4*7x*y  + 4*7y  + 4*x  + 4*x y + 4*x y  + 4*x*y  + 4*y  + 6*16807 + 6*2401x
     ---------------------------------------------------------------------------
                       2                    2        3        2           2
     + 6*2401y + 6*343x  + 6*343x*y + 6*343y  + 6*49x  + 6*49x y + 6*49x*y  +
     ---------------------------------------------------------------------------
          3       4       3        2 2         3       4      5      4       3 2
     6*49y  + 6*7x  + 6*7x y + 6*7x y  + 6*7x*y  + 6*7y  + 5*x  + 5*x y + 5*x y
     ---------------------------------------------------------------------------
          2 3        4      5
     + 5*x y  + 5*x*y  + 5*y  + ...

In [13]:
newP = M+L

                                                   2              2      3      2         2      3                                   2                  2       3       2          2       3      4      3       2 2        3      4                                       2                    2        3        2           2        3       4       3        2 2         3       4      5      4       3 2      2 3        4      5                                           2                      2         3         2            2         3        4        3         2 2          3        4       5       4        3 2       2 3         4       5
o13 =  + 2*7 + 2*x + 2*y + 4*49 + 4*7x + 4*7y + 4*x  + 4*x*y + 4*y  + 6*x  + 6*x y + 6*x*y  + 6*y  + 2*2401 + 2*343x + 2*343y + 2*49x  + 2*49x*y + 2*49y  + 2*7x  + 2*7x y + 2*7x*y  + 2*7y  + 1*x  + 1*x y + 1*x y  + 1*x*y  + 1*y  + 4*16807 + 4*2401x + 4*2401y + 4*343x  + 4*343x*y + 4*343y  + 4*49x  + 4*49x y + 4*49x*y  + 4*49y  + 4*7x  + 4*7x y + 4*7x y  + 4*7x*y  + 4*7y  + 3*x  + 3*x y + 3*x y  + 3*x y  + 3*x*y  + 3*y  + 2*117649 + 2*16807x + 2*16807y + 2*2401x  + 2*2401x*y + 2*2401y  + 2*343x  + 2*343x y + 2*343x*y  + 2*343y  + 2*49x  + 2*49x y + 2*49x y  + 2*49x*y  + 2*49y  + 1*7x  + 1*7x y + 1*7x y  + 1*7x y  + 1*7x*y  + 1*7y  + ...

o13 : Padics

In [14]:
net newP

                                                   2              2      3
o14 =  + 2*7 + 2*x + 2*y + 4*49 + 4*7x + 4*7y + 4*x  + 4*x*y + 4*y  + 6*x  +
      --------------------------------------------------------------------------
         2         2      3                                   2
      6*x y + 6*x*y  + 6*y  + 2*2401 + 2*343x + 2*343y + 2*49x  + 2*49x*y +
      --------------------------------------------------------------------------
           2       3       2          2       3      4      3       2 2        3
      2*49y  + 2*7x  + 2*7x y + 2*7x*y  + 2*7y  + 1*x  + 1*x y + 1*x y  + 1*x*y
      --------------------------------------------------------------------------
           4                                       2                    2
      + 1*y  + 4*16807 + 4*2401x + 4*2401y + 4*343x  + 4*343x*y + 4*343y  +
      --------------------------------------------------------------------------
           3        2           2        3       4       3        2 2         3
      4*49x  + 4*49x y + 4*49x*y  + 4*49y  + 4*7x  + 4*7x y + 4*7x y  + 4*7x*y
      --------------------------------------------------------------------------
            4      5      4       3 2      2 3        4      5
      + 4*7y  + 3*x  + 3*x y + 3*x y  + 3*x y  + 3*x*y  + 3*y  + 2*117649 +
      --------------------------------------------------------------------------
                                   2                      2         3         2
      2*16807x + 2*16807y + 2*2401x  + 2*2401x*y + 2*2401y  + 2*343x  + 2*343x y
      --------------------------------------------------------------------------
                2         3        4        3         2 2          3        4
      + 2*343x*y  + 2*343y  + 2*49x  + 2*49x y + 2*49x y  + 2*49x*y  + 2*49y  +
      --------------------------------------------------------------------------
          5       4        3 2       2 3         4       5
      1*7x  + 1*7x y + 1*7x y  + 1*7x y  + 1*7x*y  + 1*7y  + ...

In [15]:
peek M.cache.valueList

o15 = {Option{1, 0}, Option{7, 1}, Option{x, 1}, Option{y, 1}, Option{49, 2},
      --------------------------------------------------------------------------
                                            2                              2
      Option{7x, 2}, Option{7y, 2}, Option{x , 2}, Option{x*y, 2}, Option{y ,
      --------------------------------------------------------------------------
                                                                   2
      2}, Option{343, 3}, Option{49x, 3}, Option{49y, 3}, Option{7x , 3},
      --------------------------------------------------------------------------
                                2              3              2
      Option{7x*y, 3}, Option{7y , 3}, Option{x , 3}, Option{x y, 3},
      --------------------------------------------------------------------------
                2              3
      Option{x*y , 3}, Option{y , 3}, Option{2401, 4}, Option{343x, 4},
      --------------------------------------------------------------------------
                                 2                                  2
      Option{343y, 4}, Option{49x , 4}, Option{49x*y, 4}, Option{49y , 4},
      --------------------------------------------------------------------------
               3               2                  2               3
      Option{7x , 4}, Option{7x y, 4}, Option{7x*y , 4}, Option{7y , 4},
      --------------------------------------------------------------------------
              4              3               2 2                3
      Option{x , 4}, Option{x y, 4}, Option{x y , 4}, Option{x*y , 4},
      --------------------------------------------------------------------------
              4
      Option{y , 4}, Option{16807, 6}, Option{2401x, 6}, Option{2401y, 6},
      --------------------------------------------------------------------------
                 2                                    2                3
      Option{343x , 6}, Option{343x*y, 6}, Option{343y , 6}, Option{49x , 6},
      --------------------------------------------------------------------------
                2                   2                3               4
      Option{49x y, 6}, Option{49x*y , 6}, Option{49y , 6}, Option{7x , 6},
      --------------------------------------------------------------------------
               3                2 2                 3               4
      Option{7x y, 6}, Option{7x y , 6}, Option{7x*y , 6}, Option{7y , 6},
      --------------------------------------------------------------------------
              5              4               3 2              2 3
      Option{x , 5}, Option{x y, 5}, Option{x y , 5}, Option{x y , 5},
      --------------------------------------------------------------------------
                4              5
      Option{x*y , 5}, Option{y , 5}}

In [20]:
debugLevel = 0

o20 = 0

In [21]:
f = 56*x + 43*x^4*y + 42

         4
o21 = 43x y + 56x + 42

o21 : R

In [22]:
toAdics(7, f)

                                                                   2
o22 = {1 => 0, 7 => 6, x => 0, y => 0, 49 => 1, 7x => 1, 7y => 0, x  => 0, x*y
      --------------------------------------------------------------------------
             2                                       2                    2
      => 0, y  => 0, 343 => 0, 49x => 1, 49y => 0, 7x  => 0, 7x*y => 0, 7y  =>
      --------------------------------------------------------------------------
          3        2           2        3
      0, x  => 0, x y => 0, x*y  => 0, y  => 0, 2401 => 0, 343x => 0, 343y => 0,
      --------------------------------------------------------------------------
         2                      2         3         2            2         3
      49x  => 0, 49x*y => 0, 49y  => 0, 7x  => 0, 7x y => 0, 7x*y  => 0, 7y  =>
      --------------------------------------------------------------------------
          4        3         2 2          3        4
      0, x  => 0, x y => 0, x y  => 0, x*y  => 0, y  => 0, 16807 => 0, 2401x =>
      --------------------------------------------------------------------------
                         2                        2          3          2
      0, 2401y => 0, 343x  => 0, 343x*y => 0, 343y  => 0, 49x  => 0, 49x y => 0,
      --------------------------------------------------------------------------
           2          3         4         3          2 2           3         4
      49x*y  => 0, 49y  => 0, 7x  => 0, 7x y => 0, 7x y  => 0, 7x*y  => 0, 7y
      --------------------------------------------------------------------------
             5        4         3 2        2 3          4        5
      => 0, x  => 0, x y => 1, x y  => 0, x y  => 0, x*y  => 0, y  => 0, 117649
      --------------------------------------------------------------------------
                                           2                          2
      => 0, 16807x => 0, 16807y => 0, 2401x  => 0, 2401x*y => 0, 2401y  => 0,
      --------------------------------------------------------------------------
          3           2              2           3          4          3
      343x  => 0, 343x y => 0, 343x*y  => 0, 343y  => 0, 49x  => 0, 49x y => 0,
      --------------------------------------------------------------------------
         2 2            3          4         5         4          3 2
      49x y  => 0, 49x*y  => 0, 49y  => 0, 7x  => 0, 7x y => 6, 7x y  => 0,
      --------------------------------------------------------------------------
        2 3           4         5        6        5         4 2        3 3
      7x y  => 0, 7x*y  => 0, 7y  => 0, x  => 0, x y => 0, x y  => 0, x y  => 0,
      --------------------------------------------------------------------------
       2 4          5        6
      x y  => 0, x*y  => 0, y  => 0}

o22 : List

In [1]:
describe ZZ

o1 = ZZ